#CodeBox {
  position: relative;
  width: 100%;
  height: 80%;
  background-color: var(--console);
  overflow-y: hidden;
  box-shadow: inset 0 0 2px var(--darkest);
}
#CodeBox textarea {
  padding: 20px !important;
  outline: none;
}
#CodeBox pre {
  padding: 20px !important;
}
.editor-container {
  height: 100%;
  overflow-y: auto;
}
#run-button-container {
  position: absolute;
  top: 2%;
  right: 2%;
}
#run-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border: 2px solid var(--light-green);
  border-radius: 50%;
  background-color: var(--green);
  opacity: .5;
  cursor: pointer;
}
#run-button img {
  height: 55px;
}
#run-button:hover {
  opacity: 1;
}
#run-button:active {
  background-color: rgb(16, 66, 16);
}
#eval-container {
  position: absolute;
  bottom: 2%;
  right: 2%;
}
.eval-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--light-red);
  opacity: .7;
}
.eval-wrapper img {
  height: 50px;
  width: 50px;
}
.correct,
.wrong {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.correct {
  background-color: var(--light-green);
}
.wrong {
  background-color: var(--light-red);
}
.code-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/code-brain.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .04;
  pointer-events: none;
}
.code-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
}