.Container {
  position: relative;
  height: 28%;
  width: 95%;
  padding: 60px 0 20px 0;
  color: rgb(158, 161, 170);
  font-size: 1.25rem;
  box-shadow: inset 0 0 5px var(--darkest);
  border-radius: 10px;
  background: #242530;
  overflow: hidden;
  white-space: pre-wrap;
}
.Container h1 {
  font-size: 1.5rem;
  text-align: center;
  padding: 10px 0;
}
.container-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background: var(--console);
  overflow: hidden;
}
.content-container {
  position: absolute;
  width: 100%;
  height: 75%;
  padding: 0 3%;
  border-radius: 10px;
  overflow: auto;
}
.text-container {
  margin-bottom: 3%;
  background: var(--darkest);
  padding: 10px;
  border: 2px solid var(--dark-bg);
  border-radius: 10px;
}
.hints {
  height: 40%;
  padding-top: 2%;
}
.hint-container {
  width: 100%;
  padding: 0 3%;
  margin: 10px 0 20px 0;
  text-align: center;
  border-radius: 10px 10px 0 0;
}
.hint-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: var(--darkest);
  border-radius: 8px 8px 0 0;
  cursor: pointer;
  user-select: none;
}
.hint-content {
  display: block;
  padding: 10px;
}
.hidden {
  display: none;
}