#Buttons {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 6%;
  width: 100%;
}
#Buttons button {
  height: 50px;
  min-width: 100px;
  padding: 0 20px;
  color: var(--lightest);
  font-size: 1.25rem;
  border: 2px solid var(--darkest);
  border-radius: 10px;
  background-color: var(--dark-bg);
  cursor: pointer;
}
/* #Buttons button:hover {
  color: var(--bg);
  background-color: var(--light);
} */
/* #Buttons button:active {
  color: var(--lightest);
  background-color: var(--bg);
} */
#buttons-container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 6%;
  width: 92%;
}
#buttons-challenges {
  display: flex;
  justify-content: center;
  height: 50px;
  padding: 0 10% 0 4%;
  grid-column: 1;
}
#buttons-code {
  display: flex;
  justify-content: center;
  height: 50px;
  padding: 0 4% 0 8%;
  grid-column: 2;
}
#buttons-code button:hover {
  color: var(--lightest);
}

#buttons-code button {
  background-color: var(--red);
  opacity: .5;
}
#buttons-challenges button {
  background-color: var(--blue);
  opacity: .5;
}
#buttons-challenges button:hover,
#buttons-code button:hover {
  opacity: 1;
}

#buttons-challenges button:active,
#buttons-code button:active {
  opacity: .2;
}