.Settings {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0,0,0,0.6);
  z-index: 999;
}
.settings-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  padding: 20px;
  color: var(--lightest);
  text-align: center;
  border: 2px solid var(--glow);
  border-radius: 10px;
  background-color: var(--bg);
}
.settings-container input,
.settings-container textarea,
.settings-container select {
  text-align: center;
  width: 100%;
  height: 30px;
  color: white;
  border-radius: 5px;
  border: 1px solid var(--glow);
  background: black;
  outline: none;
}

.settings-container textarea {
  width: 100%;
  height: 75px;
  text-align: start;
}
.settings-container > div {
  margin: 10px 0;
}
.settings-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.settings-buttons button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  margin: 10px;
  color: rgb(188, 208, 228);
  border: 2px solid green;
  border-radius: 5px;
  background-color: rgb(38, 82, 38);
  cursor: pointer;
}
.settings-buttons button:last-child {
  border: 2px solid red;
  background-color: rgb(154, 34, 34);
}